.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}

.common-card {}
.common-card__content {
  padding: 24px;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.headingX{
  color: black;
}
.heading1__adminname{
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}
.heading3__adresses{
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.heading4__cards{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

}
